@media(max-width: 768px){
    .search-nav form input{
        width: 100%;
        margin: 0;
    }

    footer div ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer div ul li{
        margin-bottom: 10px;
    }

}

@media(min-width: 767px){
    .letters-box .letters-container{
        max-width: 65%;
    }
}

