/* Root Variables */
:root{
    --black: #000;
    --gold: #FFC400;
    --dark-gray: #e5e5e5;
    --light-gray: #f8f9fa;
    --white: #fff;
}

/* Utilities */
.main-btn{
    background-color: var(--black);
    color: var(--white);
}

.main-btn:focus,
.main-btn:active,
.main-btn:hover{
    color: var(--white);
}

.secondary-btn{
    background-color: var(--light-gray);
    color: var(--black);
}

.main-text{
    color: var(--gold);
}

/* Main Styling */
.navbar{
    height: 52px;
}

.navbar .navbar-brand img{
    width: 40px;
}

.search-nav{
    height: 45px;
}

.search-nav form input{
    width: 50%;
    border: none;
}

.search-nav form input:focus{
    outline: none;
    border-color: none;
    box-shadow: none;
}

.search-nav form input, .search-nav form button{
    height: 30px;
}

.search-nav form button{
    font-size: smaller;
    font-weight: 400;
}

.landing{
    background-color: var(--gold);
    min-height: calc(100vh - 97px);
}

.features .icon-holder{
    height: 200px;
}

.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number{
    font-size: 12rem;
    color: var(--dark-gray);
}

.features .icon-holder .icon{
    color: var(--gold);
}

.features .feat h4{
    color: var(--gold);
}

.letters-box .letters-container{
    margin: -20px auto;
    padding: 2rem;
    background-color: var(--gold);
}

.letters-box .letters-container div div div{
    margin: auto;
}

.letters-box .letters-container div div div div{
    /* margin: 0; */
    padding: 0;
}

.letters-box .letters-container div div div div a{
    display: inline-block;
    padding: 10px 15px;
    margin-left: -10px;
    color: var(--black);
    font-weight: 1000;
    background: #eab403;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer{
    /* height: 100px; */
    background-color: var(--black);
    color: var(--light-gray);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

footer div ul{
    list-style: none;
}

footer div ul li{
    margin-right: 50px;
}

footer div ul li a{
    text-decoration: none;
    color: var(--light-gray);
    padding: 20px;
}

footer div ul li a:hover,
footer div ul li a:active,
footer div ul li a:focus{
    color: var(--gold);
}

/* login section */

.login-section{
    height: auto;
}

.login-section form{
    padding: 5px;
    margin: 5px;
}

.login-section form label{
    font-weight: bold;
}

.login-section form .form-group{
    margin-bottom: 20px;
}

.login-section form button{
    border: none;
}

@media screen and (orientation:landscape){
    .container-narrow{
        width: 60%;
      margin: auto;
   
    }
    
}
@media screen and (max-width :480px){
    .container-narrow{
        width: 60%;
        margin-left: 15px;
   
    }
    .login-section{
        height: 80vh;
       
      }

}

.container-narrow form a{
    text-decoration: none;
    color: #999;
}


.btn-style
{
  background-color: var(--gold);
  color: rgba(0, 0, 0, 0.772);
  font-weight: 600;
  font-size: medium;

}

.btn-style:hover,
.btn-style:active
{
    background-color: var(--dark-gray);
    color:black;
    font-weight: 600;
    font-size: medium;
 
}

.text-style
{
    color: var(--gold);
    --bs-text-opacity: 1;
}